.show {
  opacity: 1;
  transition: all 1s ease-in;
}

.hide {
  opacity: 0;
  /* forwards: Keep the last shot(100%) effect */
  animation: hide-item 2s ease-in forwards;
}

@keyframes hide-item {
  0% {
    opacity: 1;
    color: #f00;
  }
  50% {
    opacity: 0.5;
    color: #0f0;
  }
  100% {
    opacity: 0;
    color: #00f;
  }
}

/* .fade-enter: 刚要入场的一瞬间, 动画还没有入场 */
/* .fade-appear: 入场第一针 */
.fade-enter,
.fade-appear {
  opacity: 0;
}

/* 入场第二个时刻到完成之前 */
.fade-enter-active,
.fade-appear-active {
  opacity: 1;
  transition: opacity 1s ease-in;
}

/* 入场动画完成后 */
.fade-enter-done {
  opacity: 1;
}

/* 出场动画第一个时刻 */
.fade-exit {
  opacity: 1;
}

/* 出场第二个时刻到完成之前 */
.fade-exit-active {
  opacity: 0;
  transition: opacity 1s ease-in;
}

/* 出场动画完成后 */
.fade-exit-done {
  opacity: 0;
}
